[submodule "example-pybind11-vcpkg"]
	path = example-pybind11-vcpkg
	url = https://github.com/caiorss/example-pybind11-vcpkg
[submodule "winapi-snippets-cmake"]
	path = winapi-snippets-cmake
	url = https://github.com/caiorss/winapi-snippets-cmake
[submodule "cross-platform-shared-library"]
	path = cross-platform-shared-library
	url = https://gist.github.com/caiorss/2bba4c50866d9467aaa8c7792b337f71
[submodule "Doxygen-Examples"]
	path = Doxygen-Examples
	url = https://gist.github.com/caiorss/b04df92734c93e300658285d0b76ed07
[submodule "sample-cpp-plugin"]
	path = sample-cpp-plugin
	url = https://github.com/caiorss/sample-cpp-plugin
