[submodule "example-pybind11-vcpkg"]
	path = example-pybind11-vcpkg
	url = https://github.com/caiorss/example-pybind11-vcpkg
[submodule "winapi-snippets-cmake"]
	path = winapi-snippets-cmake
	url = https://github.com/caiorss/winapi-snippets-cmake
