/**
 -----------------------------------------------------------------------------

 - Author: Caio Rodrigues Soares Silva

 - Public Domain CSS Style for org-mode. Use at will!!

 - Description: CSS for long-org mode documents exported to html with
   long table of contents.  This style creates a scrollable table of
   contents at the left side.

 ------------------------------------------------------------------------------
*/

 /* Embedded font demark from Boost libraries page. */
 @font-face {
    font-family: title-font;
    src: url(fonts/denmark.woff);
}


@font-face {
    font-family: code-Iosevka;
    src: url(fonts/Iosevka.woff2);
}

@font-face {
    font-family: spectral;
    src: url(https://fonts.gstatic.com/s/spectral/v5/rnCr-xNNww_2s0amA9M5knjsS_ul.woff2);
}



/** Variables */

:root {

    --text-font-size:  12pt;
    --font-source-size: 8pt;

    --content-font-weight: 400;

    /* ===== Light Theme Settings =============== */ 

    --light-bgcolor:    #fdf5de;
    --light-fgcolor:    black;
    --light-link-color: #142e5f;
    --light-line-color: darkgray;

    /* ====== Dark Theme Settings =============== */ 

    --dark-bgcolor:     #1b1c1d; /* #444646; */ /* #152128; */
    --dark-link-color:  #0df7e3; /* #73bdf7; */ /* #00FF00  */
    --dark-fgcolor:     white; 
    --dark-line-color: yellow;

    /** =================== Table of contents settings ===== */    

    --toc-width:    300px;        
    --toc-bgcolor:  #202020;
    --toc-fgcolor:  white;

    /** ====================== Body Settings =================== */   

    --content-font: spectral;

    /** Content length */
    --main-width:    800px;
    --header-color:  #1572AE;
    --max-image-width: 600px;
    --max-text-width: 90%;  /* Max paragraph length and text in bullet lists. */
    
    
    --body-text-color:     white; /* #6FD2A7 */
    --body-headline-color: white; /* 6FD2A7 */
  
    /** ====== Mobile Layout Global Settings =================== */
    /** Font size used to make tables and code blocks (pre tag) fit in mobile screen. */
    --small-font-size: 8pt;


  /** ====== Table Settings ========= **/
  --table-header-bg-color: black;
  --table-bg-color:        #0b191f;
  --table-fg-color:        #fff;
  
  --font-source-code: code-Iosevka;  
  --font-headers:     title-font;
}


html {
   /*  font-size: 100%; */
    color: var(--body-text-color);
    /* background-color: #262c33; */
    height: 100%;  
    /* background-image: linear-gradient(#10416b, black); */    	
	background-color: rgb(44, 39, 39);
}

body{

}

/* ========== Settings common to the two themes ======= */

table { 
    color: white;    
}

td a { 
    color: rgb(39, 253, 87) !important;
}

.underline {
    /*   background-color: yellow; */
      border-radius: 5px;
      font-weight: 600;
  }
  
.config-dialog {
    font-size: 10pt;
    position:  fixed;
}

.row-label {
    text-align: right;
}

.row-item { 
    text-align: left;
    width: 125px;
}

/* =========== Dark Theme Settings =================== */

.theme-dark-content {
    background-color:  var(--dark-bgcolor); 
    color:             var(--dark-fgcolor);
}

.theme-dark-content a {
    color: var(--dark-link-color);
    border-bottom: 0.5px var(--dark-link-color) dotted;
}

.theme-dark-content h1 {
    color: white;
}

.theme-dark-content h2 {
    color: white;
}

.theme-dark-content h3 {
    color: white;
}

.theme-dark-content h4 {
    color: white;
}


.theme-dark-content pre {
    background-color: #212020;
}

.theme-dark-content h2 {
    border-bottom: 4px double var(--dark-line-color) ; 
}

/* =========== Light Theme Settings =================== */

.theme-light-content {
    background-color:  var(--light-bgcolor); 
    color:             var(--light-fgcolor);
}

.theme-light-content a {
    color: var(--light-link-color);
    border-bottom: 0.5px var(--light-link-color) dotted;
}

.theme-light-content h1, h2, h3, h4, h5 {
    color: var(--light-fgcolor);
}

.theme-light-content pre {
    background-color: #212020;
}

.theme-light-content h2 {
    border-bottom: 4px double var(--ligth-link-color) ; /* #0075a2 */
}


/* ========= Remaining  ==================== */

#content{
    font-family: var(--content-font);
    font-weight: var(--content-font-weight);    
    /* background-color:  var(--dark-bgcolor);  */
   
    /* rgba(255,255,255,1.0); */        
    font-size: var(--text-font-size);
}

#table-of-contents{           
   background-color: var(--toc-bgcolor);
   /* color: var(--toc-fgcolor);            */
}

#table-of-contents h2 {
    color: white;
}

#table-of-contents ul {
    padding-left: 0px;
    padding-top:  5px;
    padding-bottom: 10px;
    list-style-type:     none;
    list-style-position: inside;
}

#table-of-contents li {
    padding-left: 10px;
    padding-top:   4px;
    font-size:    14px;
}

.org-ol li li pre {    
    margin-left: -60px !important;
}


/** Hyperlink General Styles */
a {
   /*  color:              var(--dark-link-color);  */
    /* text-shadow: 2px 0px 5px var(--dark-link-color); */
	/* text-shadow: 0px 0px 10px #3a8657; */

    
    font-weight:        600;
    cursor:             pointer;
    text-decoration:    none;
    -webkit-transition: none 86ms ease-out;
    transition:         none 86ms ease-out;    
        
}

a:hover {
    /* text-decoration: underline; */    
    text-shadow: 0 -1px 2px #5da992;
    
}


#table-of-contents  a {
    /* color:          rgba(0,0,0,1); */
    /* font-weight:    700; */
    color:          var(--body-text-color) ; /* rgb(11, 83, 149); */
    text-shadow:    none;
    position:       relative;
    text-overflow:  ellipsis;
    border-bottom:  none;
    padding:        10px 15px;
}

#table-of-contents a:hover {
    /* text-decoration:  underline; */
    border-bottom: 2px rgba(51,102,204,1.0)  dotted;
    font-weight:  bold;
}

#table-of-contents a:active{
    font-weight: bold;
}

#table-of-contents .tag{
    display: none;
}

/*=========== Global Header Settings =========== */

h1 {

    text-align: center;
    /* color:       cyan; */
    /* color:       var(--body-text-color) ;  *//* rgb(62, 194, 255)*/
    font-size:   220%;
    font-family: var(--font-headers);
    font-weight: bold;    
    /*
    text-shadow: 0 -2px 10px var(--body-text-color);     
    */
}

ul#tabs, h2, h3, h4, h5 {
    /* font-family: "Trebuchet MS",Verdana,sans-serif; */    
}

h2, h3, h4, h5, h6 {  
   /*  color: var(--body-headline-color); */
    margin-left: 10px;
    font-family: var(--font-headers);
}


h3 {
    border-bottom: 1px solid #0075a2;
}

#table-of-contents h2 {
  /* 
  background: linear-gradient(to right, rgb(78, 127, 160) 0%, rgba(125,185,232,0) 100%);
  */
}



.tag {
    background-color: #464444;
}


label {
    font-size: 8pt;
    font-family: monospace;
    font-weight: 600;
}

/* ======== Paragraph formatting =================== */

/** Align table caption to the left. */
caption {
    text-align: left;
    font-size: 10pt;
}

/** Align picture caption to the left. */
.figure p {
    text-align: left;
    font-size: 10pt;
}


ul {
    padding-left: 5px;
    padding-top:  0px;
    padding-bottom: 0px;
    list-style-position: inside;
}


li {
    padding-left: 5px;
    padding-top:   4px;
    /* font-size:    14px; */
}


/** ====>>> Table Settings <<======== */
table {
    font-family: monospace;
    font-size:   8pt;
    /*width: 100%;*/
    border-collapse: collapse;
    background-color: var(--table-bg-color);

    border-collapse: collapse;

    margin: 20px auto;

    /** -- Table scrollbar ---*/
  /* display: block; */
  /* overflow-x: auto; */
  /* white-space: nowrap; */
}

table code {
  font-size: 8pt;
}

th { /* Table header */
  background-color: var(--table-header-bg-color);
  color:            var(--body-text-color); /* var(--table-fg-color); */
  /* padding-top: 30px; */
  font-weight: bold;
  /* text-align: justified; */
  font-size:  10pt;
  
  padding: 0px 10px 0px 10px ; 
 }
th.left {
	text-align: left;
}


td {  padding: 0px 10px 0px 10px ; }


/* ====  Mathjax Latex  === */

.MathJax_MathML {
    font-size: "140%";
}



/* ======== Code block Syntax Highlight ======================= */

.control-panel {
    position: fixed;
    /* background-color: olive; */
    padding: 2px;
    z-index: 999999;
    top: 10px;
    margin-top:  2px;
    margin-left: 100px;
}


/* Global coce-block configuration */
pre {
    font-family: var(--font-source-code);
    font-size:   var(--font-source-size);
    /* border: solid 1px #2e8b57; */
    box-shadow: 3px 5px #2e8b57;
    /* border-left: 2px solid #76eaab; */
    /* background-color: #292929; */
    /* background-color: #e4eadb; */
    /* background-color: #002b36; */
    color: white;
    /* filter: invert(0%); */
}

.navButton {
	width:            80px;
	background-color: black;
	color:            #86fc75;
	position:         fixed;
	border-color:     lightgreen;
	font-weight:      bold;
	
}

.navButtonMobile {
	width:            80px;
	background-color: black;
	color:            #86fc75;
	position:         fixed;
	border-color:     lightgreen;
	font-weight:      bold;
	
}


pre span.org-builtin                     {color:#006FE0;font-weight:bold;}
pre span.org-string                      {color:gold;}
pre span.org-keyword                     {color:lime; font-weight: bold}
pre span.org-variable-name               {color: deepskyblue; font-weight: bolder}
pre span.org-function-name               {color:#5ba1cf;}
pre span.org-type                        {color:#12ffed;}
pre span.org-preprocessor                {color:#808080;font-weight:bold;}
pre span.org-constant                    {color:#25cc7a;}
pre span.org-comment-delimiter           {color:#8D8D84;}
pre span.org-comment                     {color: lightgreen; font-style:italic; font-weight: bolder}
pre span.org-outshine-level-1            {color:#8D8D84;font-style:italic}
pre span.org-outshine-level-2            {color:#8D8D84;font-style:italic}
pre span.org-outshine-level-3            {color:#8D8D84;font-style:italic}
pre span.org-outshine-level-4            {color:#8D8D84;font-style:italic}
pre span.org-outshine-level-5            {color:#8D8D84;font-style:italic}
pre span.org-outshine-level-6            {color:#8D8D84;font-style:italic}
pre span.org-outshine-level-7            {color:#8D8D84;font-style:italic}
pre span.org-outshine-level-8            {color:#8D8D84;font-style:italic}
pre span.org-outshine-level-9            {color:#8D8D84;font-style:italic}
pre span.org-rainbow-delimiters-depth-1  {color:#707183;}
pre span.org-rainbow-delimiters-depth-2  {color:#7388d6;}
pre span.org-rainbow-delimiters-depth-3  {color:#909183;}
pre span.org-rainbow-delimiters-depth-4  {color:#709870;}
pre span.org-rainbow-delimiters-depth-5  {color:#907373;}
pre span.org-rainbow-delimiters-depth-6  {color:#6276ba;}
pre span.org-rainbow-delimiters-depth-7  {color:#858580;}
pre span.org-rainbow-delimiters-depth-8  {color:#80a880;}
pre span.org-rainbow-delimiters-depth-9  {color:#887070;}
pre span.org-sh-quoted-exec              {color:#FF1493;}


/* ------------------------------------- 
   -         Mobile Styles             -
   -------------------------------------
*/
@media only screen and (max-width: 400px) {


    #content {
        top:          50px;
        /* margin-top:   60px; */
       /*  font-size:    1rem; */
        width:        100%;              
        -webkit-text-size-adjust: none;

        height:      100%;
        overflow-y:  scroll;
        
        /* float:     bottom; */
        position:  absolute;
        display:   block;
    }

    #postamble {
        /* top:          60px; */
        /* margin-top:   60px; */
        font-size:    1rem;
        width:        100%;      
        background-color:  var(--dark-bgcolor);
        -webkit-text-size-adjust: none;

        height:      100%;
        /* margin: 0 auto -142px; */
        
        /* float:     bottom; */
        /* position:  fixed; */
        /* float: bottom; */
      
        position:  relative;
        bottom:   0;
        /* display:  table-footer-group; */
        display: none;
    }

    
    #table-of-contents {
        top:    0px;       
        width:  var(--toc-width);        
        height: 30px;
        width:  100%;        
        overflow-y: hidden;
        margin-left: 0;
        margin-right: 0;
        padding-bottom: 20px;
        padding-left: -10px;      
        
        float: left;
        position: fixed;

        /* bottom: 0; */
       
        /* background-color: rgba(125, 125, 125, 0.29); */       

        display: block;
        z-index: 9999;

        text-align: left;        
    }

    #table-of-contents h2 {
        display: block;
        height:  30px;
        width:   60px;
        background: #EEEEEE;
        text-decoration: none;

        -webkit-touch-callout: none;
        -webkit-user-select: none; /* Disable selection/copy in UIWebView */
        -webkit-text-size-adjust: none;

        /* border: 1px solid #000; */
        /* use-select: none; */
        appearance: button;
        z-index: 9999;
        cursor: pointer;
    }

    #table-of-contents a {
        display: block;
        /* width:   100px; */
        height:  40px;
    }


    
    img {
        max-width: 100%;
        display:   block;
        margin:    0 auto;
        height:    auto;
    }

    ul {
        padding-left: 5px;
        padding-top:   10px;
        padding-bottom: 5px;
        margin-right: 10px;
        margin-left: -5px;
        list-style-position: inside;
    }


    li {        
        margin-left: 10px;
        padding-top:  5px;
        font-size:    10pt;
    }



    .ellipsis {
        text-overflow: ellipsis;

        /* Required for text-overflow to do anything */
        white-space: nowrap;
        overflow: hidden;
    }

    a {
        text-overflow: ellipsis;

        /* Required for text-overflow to do anything */
        white-space: nowrap;
        white-space: pre-wrap;
        /* overflow: hidden; */
        word-wrap: break-word;

    }

   p {
       /* text-align:  justify; */
       line-height: 1.5;
       max-width:   100%;

       margin-left: 10px;

       -moz-osx-font-smoothing: grayscale;
       -webkit-font-smoothing: antialiased !important;
       -moz-font-smoothing: antialiased !important;
       text-rendering: optimizelegibility !important;
       letter-spacing: .03em;       
   }

        
   #permalink_section
   {
       white-space: pre-wrap; /* css-3 */    
       white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
       white-space: -pre-wrap; /* Opera 4-6 */    
       white-space: -o-pre-wrap; /* Opera 7 */    
       word-wrap: break-word; /* Internet Explorer 5.5+ */
   }
    
   /* Mobile screen table */
    table {
        border-collapse: collapse;
        border-spacing:  0;
        width:           100%;
        margin-top:      20px;
        margin-bottom:   20px;

        background-color: var(--table-bg-color);

        font-size: var(--small-font-size);
    }

  

    /* Code block of mobile screen  */ 
    pre {        		
        
        /*white-space: pre-wrap;*/
        /* word-wrap: break-word; */
        /*text-align: justify;*/

        display: block;
  
        margin-top: 20px;
        margin-bottom: 20px;

        max-width:  100%;
        max-height: 200px;

        border-radius: 16px;
        /* border: 1px solid #777; */
        box-sizing:border-box;
        /* text-shadow:0px 1px 2px rgba(0,0,0,0.4) */
			
        overflow-x: scroll;
    }

    pre.src{
        overflow-x: auto;
        overflow-y: auto;
    }

    blockquote {
        font-family: Georgia, serif;
        font-style: italic;
        line-height: 1.45;
        color: #383838;
        /* text-align: center; */

        margin: 0.25em 0;
        padding: 0.25em 10px;

        background: #f9f9f9;
        border-left: 10px solid #ccc;


        width: 80%;
        border-radius: 20px;
        /* padding: 0.5em 10px; */
        quotes: "\201C""\201D""\2018""\2019";
    }

    blockquote:before {
      color:           #ccc;
      content:         open-quote;
      font-size:       4em;
      line-height:     0.1em;
      margin-right:    0.25em;
      vertical-align: -0.4em;
    }

    blockquote p {
      display: inline;
    }

    
}

/* ------------------------------------- 
   -         Tablet Styles             -
   -------------------------------------
*/
@media only screen and (min-width: 401px) and (max-width: 960px) {


    #content {
        top:          50px;
        margin-top:   60px;
        /* font-size:    1rem; */
        width:        100%;      
        -webkit-text-size-adjust: none;

        height:      100%;
        overflow-y:  scroll;
        
        /* float:     bottom; */
        position:  absolute;
        display:   block;

        border-radius: 15px;
        padding: 20px 15px 40px 15px;
        

        /* padding-bottom:60px; */
    }

	#content li {
		list-style-position: outside;
		margin-left: 20px;
	}


    #postamble {
        /* top:          60px; */
        /* margin-top:   60px; */
        font-size:    1rem;
        width:        100%;      
        background-color:  var(--dark-bgcolor);
        -webkit-text-size-adjust: none;

        height:      100%;
        /* margin: 0 auto -142px; */
        
        /* float:     bottom; */
        /* position:  fixed; */
        /* float: bottom; */
      
        position:  relative;
        bottom:   0;
        /* display:  table-footer-group; */
        display: none;
    }

    
    #table-of-contents {
        top:    0px;       
        width:  var(--toc-width);        
        height: 50px;
        width:  100%;        
        overflow-y: hidden;

        float: left;
        position: fixed;

        bottom: 0;
       
        /* background-color: rgba(125, 125, 125, 0.29); */       

        display: block;
        z-index: 9999;

        text-align: left;        
    }


    #table-of-contents h2 {
        display: block;
        height:  50px;
        width:   60px;
        background: #EEEEEE;
        text-decoration: none;

        -webkit-touch-callout: none;
        -webkit-user-select: none; /* Disable selection/copy in UIWebView */
        -webkit-text-size-adjust: none;

        /* border: 1px solid #000; */
        /* use-select: none; */
        appearance: button;
        z-index: 9999;
        cursor: pointer;
    }

    #table-of-contents a {
        display: block;
        /* width:   100px; */
        height:  40px;
    }

  
    img {
        max-width: 100%;
        height:    auto;
    }

    .ellipsis {
        text-overflow: ellipsis;

        /* Required for text-overflow to do anything */
        white-space: nowrap;
        overflow: hidden;
    }

    a {
        text-overflow: ellipsis;

        /* Required for text-overflow to do anything */
        white-space: nowrap;
        white-space: pre-wrap;
        /* overflow: hidden; */
        word-wrap: break-word;

    }

   p {
       text-align:  justify;
       line-height: 1.5;
       max-width:   100%;

       -moz-osx-font-smoothing: grayscale;
       -webkit-font-smoothing: antialiased !important;
       -moz-font-smoothing: antialiased !important;
       text-rendering: optimizelegibility !important;
      /*  letter-spacing: .03em;   */     
   }

    
    
   #permalink_section
   {
       white-space: pre-wrap; /* css-3 */    
       white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
       white-space: -pre-wrap; /* Opera 4-6 */    
       white-space: -o-pre-wrap; /* Opera 7 */    
       word-wrap: break-word; /* Internet Explorer 5.5+ */
   }
   
   /* Tablet screen table */ 
    table {
        border-collapse: collapse;
        border-spacing:  0;
        width:           100%;
        margin-top:      20px;
        margin-bottom:   20px;

        background-color: var(--table-bg-color);

        font-size: var(--small-font-size);
    }

    th {
        background-color: var(--table-header-bg-color);
        color:            var(--table-fg-color);
        /* padding-top: 30px; */
        font-weight: bold;
        /* text-align: justified; */
    }

    th.left {
        text-align: left;
    }

    td,th {
        padding: 0;
        /* width: 100%; */
    }

    /* Code block for tablet-size screens */
    pre {        
	    white-space: pre-wrap;

        /* word-wrap: break-word; */
        text-align: justify;

        /* qfont-size: 10pt; */

        display: block;
  
        margin-top: 20px;
        margin-bottom: 20px;

        max-width:  100%;

        border-radius: 16px;
        /* border: 1px solid #777; */
        box-sizing:border-box;
        /* text-shadow:0px 1px 2px rgba(0,0,0,0.4) */

        overflow-x: scroll;
    }


    blockquote {
        font-family: Georgia, serif;
        font-style: italic;
        line-height: 1.45;
        color: #383838;
        /* text-align: center; */

        margin: 0.25em 0;
        padding: 0.25em 10px;

        background: #f9f9f9;
        border-left: 10px solid #ccc;


        width: 80%;

        /* padding: 0.5em 10px; */
        quotes: "\201C""\201D""\2018""\2019";
    }

    blockquote:before {
      color:           #ccc;
      content:         open-quote;
      font-size:       4em;
      line-height:     0.1em;
      margin-right:    0.25em;
      vertical-align: -0.4em;
    }

    blockquote p {
      display: inline;
    }


}

/* ------------------------------------- 
   -         Desktop Styles            -
   -------------------------------------
*/
@media only screen and (min-width: 961px) {


    .outline-text-5 {
        margin-left: -50px;
    }
   
    body {

        position:  absolute;
        margin-top:     50px;
        /* float: right; */
        left:  300px;                

        /* font:           16px/1.385 arial,helvetica,clean,sans-serif; */        
        
        text-rendering: optimizeLegibility;

        width:            var(--main-width);
        margin-left:     20px;
        /* margin-right:    200px; */
        padding-left:    20px;
        padding-right:   50px;
        /* overflow-x:       scroll; */
      
        /* z-index:          9999; */
        font-size: 12pt;
    }



    #content{ 
        border-radius: 15px;
        padding: 10px 15px 40px 15px;
    }

	#content li {
		list-style-position: outside;	
		margin-left: 15px;	
	}

	 #table-of-contents ul li {
		list-style-position: outside;	
		margin-left: 0px;	
	}

    #table-of-contents {
        top:    0px;
        left:   0px;
        width:  var(--toc-width);        
        height: 100%;
        overflow-y: scroll;

        
        float: left;
        position: fixed;

        bottom: 0;
       
        /* background-color: rgba(125, 125, 125, 0.29); */       

        display: block;
        z-index: 9999;

        /** Initially hide navigation bar*/
        display: block;

        text-align: left;

        font-family: "Segoe UI", Segoe, Calibri, "Nimbus Sans L", "Ubuntu", Tahoma, Arial, Helvetica, Verdana, sans-serif;
    }

    #text-table-of-contents {
        display: block;
    }

    img{
        display: block;
        max-width:  96%;
        max-height: 500px;

        margin-left: auto;
        margin-right: auto;
    }

    .figure p {
        text-align: center;
    }


   p {
       text-align:  justify;
       line-height: 1.5;
      /*  font-size: 10pt; */
      /*  font-family: spectral; */
       width:       var(--max-text-width);

       -moz-osx-font-smoothing: grayscale;
       -webkit-font-smoothing: antialiased !important;
       -moz-font-smoothing: antialiased !important;
       text-rendering: optimizelegibility !important;
       letter-spacing: .03em;       
   }

   
    /* Code block of desktop screen */
    pre {       
        /* font-family: monospace,monospace; */
        display: block;

        /*padding:2em 28px;*/
        /*margin-top: 20px;*/
        /*margin-bottom: 20px;*/

        width:  90%;              
        border-radius: 16px;
        max-height: 400px;
        /* max-width:  750px; */        
        
        /* white-space: pre-wrap; */
        overflow-x: auto;
    }

    pre.src{
        overflow-x: auto;
        overflow-y: auto;
    }


   blockquote {
       font-family: Georgia, serif;
       font-style: italic;
       line-height: 1.45;
       color: #383838;
       /* text-align: center; */

       /* margin: 0.25em 0; */

       background: #f9f9f9;
       border-left: 10px solid #ccc;

       /* margin: 1.5em 10px; */
       padding: 0.25em 40px;
       width: 80%;

       /* padding: 0.5em 10px; */
       quotes: "\201C""\201D""\2018""\2019";
   }

   blockquote:before {
     color:           #ccc;
     content:         open-quote;
     font-size:       4em;
     line-height:     0.1em;
     margin-right:    0.25em;
     vertical-align: -0.4em;
   }

   blockquote p {
     display: inline;
   }




} /*----- End of desktop specific design ---*/

/* ======= Code block style ======================= */

code {
    /* background-color: #dbdfe0; */
    /* border: 1px solid #DEDEDE; */
    /* color: #444444; */
    font-family: monospace;
    font-size:  10pt;
    margin: 0px 1px;
    padding: 0px 2px;
    overflow-x: scroll;
}


/** Sub-style for printing page to PDF */
@media print {
	margin-top:    2cm;
	margin-bottom: 2cm;
	margin-left:   2cm;
	margin-right:  2cm;
	
	html {
		color: black;
		font-family: "Palatino", "Linotype", "Book Antiqua";
		font-size: 10pt;
	}
	
	@page {
		size: A4;
	}
	
	#content {
		width:  100%;
		margin: 0;
		float:  none;
		
		/* Default font color */
		color: black;
	}
	
	h1, h2, h3, h4 { 
		font-size: 16pt;
	}
	
	p { 
		page-break-inside: avoid;
	}
	
	blockquote {
		page-break-inside: avoid;
	}
	
	pre {
		color: black;
		font-size: 8pt;
	}
	
	a { 
		color: black;
	}
	
	header, footer, aside, form {
		display: none;
	}
	
}

/* pre { */
/*     filter: invert(80%); */
/* } */
